button {
    font-size: calc(12px + 1vmin);
    font-weight: bold;
    background: #000;
    color: #FFF;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    border:3px solid #000;
    border-radius:20px;
    box-shadow:5px 5px 5px #eee;
    text-shadow:none;
}

button:hover {
    background: #FFF;
    color:#000;
}
