
input, label {
  font-size: calc(12px + 1vmin);
  padding: 5px;
  margin: 5px;
  display: inline-block;
  clear: left;
}

input {
  width: 275px;
  margin-left: 10px;
}

label {
  font-weight: 600;
  width: 125px;
  margin-left: 15px;
  text-align: left;
}