table {
    width: 100%;
    margin-top: 16;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    font-size: calc(10px + 1vmin);
}

th, tr, td {
    padding: 10px;
}

th {
    text-align: center;
}

td, th {
    border: 1px solid black;
}

.itemTable {
    width: 100%;
}

.categoryTable {
    width: 60%
}

.id, .category_id {
    width: 25px;
    text-align: center;
}

.title {
    width: 400px;
}

.price, .quantity, .sku {
    width: 80px;
    text-align: center;
}

.description {
    width: 500px;
}