table {
    margin-top: 16;
    border: 1px solid black;
    font-size: calc(10px + 1vmin);
}

th, tr, td {
    padding: 10px;
}

th {
    text-align: center;
}

.id, .category_id {
    width: 25px;
    text-align: center;
}

.title, .price, .quantity, .sku {
    width: 200px;
}

.description {
    width: 350px;
}
