button {
    font-size: calc(12px + 1vmin);
    font-weight: bold;
    background: lightskyblue;
    color:#000;
    margin-top: 20px;
    margin-left: 155px;;
    padding: 5px 20px;
    border:3px solid navy;
    border-radius:20px;
    box-shadow:5px 5px 5px #eee;
    text-shadow:none;
}

button:hover {
    background: navy;
    color:#fff;
}
